body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #e4e4e4;
}

.game-mode {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
